h1 {
    color: black;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 3em;
    margin: 18px;
}

p {
    color: black;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    margin: 18px;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color: #555555;
}

.info {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.counter {
    font-family: 'Crimson Text', serif;
    font-size: 1.6em;
    color: #ffd633 !important;
    padding: auto;
    margin-right: 18px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.tabButton {
    border-bottom: 12px solid #555555;
    padding: 16px 12px 0px 12px;
    margin-right: 8px;
    -webkit-user-select: none;
    cursor: pointer;
    font-family: 'Vollkorn', serif;
    font-size: 1.6em;
}

.tabButton.locked {
    display: none !important;
}

.tabButton.active {
    border-bottom: 12px solid #ffd633;
    color: #ffd633 !important;
}

.tabButton.inActive {
    color: #ebb147;
}

.tabButton:hover {
    color: #ffd633 !important;
}

.workButton {
    margin-left: 18px;
}
