h1 {
	color: black;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 3em;
    margin: 18px;
}

p {
    color: black;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    margin: 18px;
}

html, body{
  margin:0 !important;
  padding:0 !important;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: auto;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.tabButton:hover {
	color: #ddaa66 !important;
}

.tabButton {
	border-bottom: 12px solid #000000;
	padding-top: 16px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 8px;

	cursor: pointer;
	font-family: 'Vollkorn', serif;
	font-size: 1.6em;
}

.tabButton.locked {
	display: none;
}

.tabButton.active {
	border-bottom: 12px solid #ffcc00;
	color: #ffcc00 !important;
}

.tabButton.inact {
	color: #bb8866;
}